@import './reset.scss';

.formContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding-top: 40px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.9);
    .formMiddleContainer {
        width: 980px;
        height: auto;
        box-sizing: border-box;
        position: absolute;
        top: 170px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    .contentsWrapper {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        // border: 1px solid red;
        position: relative;
        .contentContainer {
            width: 640px;
            height: auto;
            box-sizing: border-box;
            border: 3px solid lightgray;
            padding: 15px;
            .title {
                margin: 0;
                padding: 0;
                box-sizing: border-box;
                border: none;
                font-family: NanumGothic;
                font-style: normal;
                font-weight: normal;
                font-size: 25px;
                line-height: 70px;
                letter-spacing: 0.05em;
                outline: none;
                width: 100%;
                padding: 0 15px;
                &::placeholder {
                    color: #ced4da;
                    font-style: italic;
                    font-size: 20px;
                }
            }
            .content {
                width: 100%;
                height: auto;
                min-height: 100px;
                padding: 15px;
                font-family: NanumGothic;
                font-style: normal;
                font-weight: normal;
                font-size: 20px;
    
                line-height: 30px;
                letter-spacing: 0.05em;
    
                word-break: normal;
                word-wrap: break-word;
                
                outline: none;
                // border: 1px solid lightgray;
            }
            [data-placeholder]:empty:before{
                content: attr(data-placeholder);
                color: #ced4da;
                font-style: italic;
                margin: 0;
                padding: 0;
            }
            .attachmentContainer {
                margin: 0;
                padding: 0;
                box-sizing: border-box;
                width: 100%;
                height: 180px;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                overflow-x: auto;
            }
            .attachmentContainer::-webkit-scrollbar {
                background: white;
                width: 6px;
            }
            .attachmentContainer::-webkit-scrollbar-thumb {
                border-radius: 6px;
                background-clip: padding-box;
                border: 2px solid transparent;
                background: lightgray;
            }
            
            .attachmentContainer::-webkit-scrollbar-track {
                background-color: white;
                border-radius: 2px;
            }
        }
        .tagContainer {
            width: 300px;
            height: auto;
            min-height: 385px;
            box-sizing: border-box;
            // position: relative;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            // border: 1px solid red;
            .inputTagContainer {
                width: 100%;
                height: 50px;
                box-sizing: border-box;
                position: relative;
                
                div {
                    width: 35px;
                    height: 35px;
                    box-sizing: border-box;
                    position: absolute;
                    top: 50%;
                    left: 0;
                    transform: translateY(-50%);
                }
                input {
                    width: 100%;
                    height: 100%;
                    box-sizing: border-box;
                    padding: 5px 0 0 40px;
                    font-family: NanumGothic;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 25px;
                    line-height: 30px;
                    letter-spacing: 0.1em;
                    border: none;
                    outline: none;
                    border-bottom: 3px solid #dee2e6;
                    transition: all 0.3s;
                    &::placeholder {
                        color: #ced4da;
                        text-align: center;
                        font-size: 13px;
                        letter-spacing: 0;
                    }
                    &:focus {
                        border-bottom: 3px solid #87E8D6;
                    }
                }
                
            }
            ul {
                list-style-type: none;
                margin: 0;
                padding: 30px 0;
                width: 100%;
                height: 100%;
                box-sizing: border-box;
                li {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    box-sizing: border-box;
                    padding: 5px;
                    p {
                        margin: 0;
                        padding: 0 10px;
                        font-family: NanumGothic;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 20px;
                        line-height: 40px;
                        letter-spacing: 0.1em;
                        cursor: default;
                    }
                }
            }
            select {
                width: 300px;
                height: 60px;
                outline: none;
                position: absolute;
                bottom: 0;
                font-family: Roboto;
                font-style: normal;
                font-weight: normal;
                font-size: 20px;
                line-height: 29px;
                border-radius: 10px;
                border: none;
                box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
                padding: 0 30px;
                align-self: flex-start;
            }
        }
    }
    .LetterbuttonContainer {
        width: 100%;
        height: 200px;
        box-sizing: border-box;
        padding: 0 150px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        button {
            width: 250px;
            height: 70px;
            background: white;
            border-radius: 10px;
            box-sizing: border-box;
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 25px;
            margin: 0 21px;
            position: relative;
            transition: all 0.3s ease-in;
        }
        .writeBtn {
            @extend button;
            border: 3px solid $join;
            color: $join;
            &:hover {
                background-color: $join;
                color: white;
            }
            &:active {
                background-color: $join;
                color: white;
                top: 5px;
            }
        }
        .backBtn {
            @extend button;
            border: 3px solid $cancel;
            color: $cancel;
            &:hover {
                background-color: $cancel;
                color: white;
            }
            &:active {
                background-color: $cancel;
                color: white;
                top: 5px;
            }
        }
    }
}