@import './reset.scss';

.loginContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .labelContainer {
        @extend .loginContainer;
        width: 400px;
        align-items: flex-start;
        margin: 20px 0;
        label {
            font-size: 25px;
        }
        button {
            cursor: pointer;
        }
        .loginBtn {
            width: 400px;
            height: 70px;
            background: #fff;
            border: 3px solid #7165FF;
            border-radius: 10px;
            box-sizing: border-box;
            font-size: 25px;
            letter-spacing: 1px;
            color: #7165FF;
            padding: 0 10px;
            outline: none;
            position: relative;
            &:hover {
                background: #7165FF;
                color: white;
                transition: all 0.3s;
            }
            &:active {
                top: 3px;
            }
        }
        .joinBtn {
            @extend .loginBtn;
            border-color: #FF9BD1;
            color: #FF9BD1;
            &:hover {
                background: #FF9BD1;
                color: white;
                transition: all 0.3s;
            }
        }
        .notLoginView {
            @extend .loginBtn;
            border-color: black;
            color: black;
            &:hover {
                background: black;
                color: white;
                transition: all 0.3s;
            }
        }
        .searchContianer {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            button {
                @extend .loginBtn;
                width: 180px;
                border: 3px solid #87E8D6;
                color: #87E8D6;
                &:hover {
                    background: #87E8D6;
                    color: white;
                    transition: all 0.3s;
                }
            }
        }
    } 
}

